/* select {
    width: 90%; */
     /* padding: 12px 20px; */
    /* margin: 8px 0; */
    /* box-sizing: border-box; 
direction: rtl
}
body{
    direction: rtl;
    font-family:  Tahoma, Geneva, Verdana, sans-serif;

}
form{
    direction: rtl;
} */
/* body {

    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif; 
  } */
  /* div.panel-body{
    background-color: #e21559;
    color:#dacfd2;
    border-radius: 5px;
    border: grey solid ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25pX;
}
div.panel-body:hover{
    cursor: pointer;
}
.cursors > div hover {
    opacity: 0.25 ;
    float: left;
    box-sizing: border-box;
    background: #f2f2f2;
    border:1px solid #ccc;
    width: 20%;
    padding: 10px 2px;
    text-align: center;
    white-space: nowrap;
       } */








       select {
        width: 90%;
         /* padding: 12px 20px; */
        /* margin: 8px 0; */
        box-sizing: border-box; 
    direction: rtl;
    
    }
    body{
        direction: rtl;
        font-family:  Tahoma, Geneva, Verdana, sans-serif;

    }
    form{

        direction: rtl;
    }
    
    
    
    h1{
        color: grey;
       text-align: center;
       font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 50pX;
    }
    
    
    table { 
        width: 750px; 
        border-collapse: collapse; 
        margin:50px auto;
        }
    
    /* Zebra striping */
    tr:nth-of-type(odd) { 
        background: #eee; 
        }
    
    th { 
        background: #e21559; 
        color: white; 
        font-weight: bold; 
        }
    
    td, th { 
        padding: 10px; 
        border: 1px solid #ccc; 
        text-align: left; 
        font-size: 18px;
        }
    
    /* 
    Max width before this PARTICULAR table gets nasty
    This query will take effect for any screen smaller than 760px
    and also iPads specifically.
    */
    @media 
    only screen and (max-width: 760px),
    (min-device-width: 768px) and (max-device-width: 1024px)  {
    
        table { 
            width: 100%; 
        }
    
        /* Force table to not be like tables anymore */
        table, thead, tbody, th, td, tr { 
            display: block; 
        }
        
        /* Hide table headers (but not display: none;, for accessibility) */
        thead tr { 
            position: absolute;
            top: -9999px;
            left: -9999px;
        }
        
        tr { border: 1px solid #ccc; }
        
        td { 
            /* Behave  like a "row" */
            border: none;
            border-bottom: 1px solid #eee; 
            position: relative;
            padding-left: 50%; 
        }
    
        td:before { 
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 6px;
            left: 6px;
            width: 45%; 
            padding-right: 10px; 
            white-space: nowrap;
            /* Label the data */
            content: attr(data-column);
    
            color: #000;
            font-weight: bold;
        }
    
    }
    
.h1L {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #e71264;
    text-align: right;
}

.conDiv {
    text-align: right;
}
    /* mat-card{
        border: 1px solid rgb(104, 18, 18); 
    } */
    
hr {
    border-top: 3.5px dashed #7c7c7c;}