<!-- <link href="https://fonts.googleapis.com/css2?family=Suez+One&display=swap" rel="stylesheet">

<body>
    <div class="container  ">
        <h1> אודותינו</h1>
        <hr>
        <div class="AbDiv">
          <div class="CenDiv">

            <br> האתר החברתי לאבידות ומציאות
            <br>
            <br> למצוא בקליק
            <br> ?איך עובדת האפליקציה
            <br>. איבדתם? אל דאגה, למצוא בקליק כאן בשבילכם
            <br>
            </div>
            <br>:חפשו את האבידה שלכם במספר צעדים פשוטים
            <br>
            <br>
            <p style="direction: rtl;color: #e71264;
            "> 1.
            הגדירו מה איבדתם</p>
            <br>
            <p style="direction: rtl;color: #e71264;">
              2.
            הגדירו איפה איבדתם</p> 
            <br>
           
            <p   style="direction: rtl;color: #e71264;">
              3.    
             הגדירו מאפינים תואמים לחפץ 
            </p>
              <br>
            <br>              <a style="color: #e71264;direction: rtl"> !!!!</a>

          <a> האבידה נמצאה? </a>
              <a style="color: #e71264;direction: rtl">  נפלא</a>
            
            <br>
            <br>
            <br>. צרו קשר עם המוצאים, ענו על שאלות מזהות ואם אכן זוהי אבידתכם המוצאים הישרים יחזירו לכם אותה
            <br>
            <br>?לא מצאתם את האבידה
            <br>
            <br>. שמרו את הפרטים במערכת ותקבלו עדכון במידה ומישהו ימצא אותה
            <br>
            <br>

        </div>

    </div>
    <br>

</body> -->
<link href="https://fonts.googleapis.com/css2?family=Suez+One&display=swap" rel="stylesheet">

<body>
    <div class="container  conDiv">
        <h1> אודותינו</h1>
        <hr>
        <div class="AbDiv">
            <div class="CenDiv">
                <br> האתר החברתי לאבידות ומציאות
                <br>
                <br> למצוא בקליק
                <br> ?איך עובדת האפליקציה
                <br>. איבדתם? אל דאגה, למצוא בקליק כאן בשבילכם
                <br>
            </div>

            <br>:חפשו את האבידה שלכם במספר צעדים פשוטים
            <br>
            <p style="direction: rtl;color: #e71264;
            "> 1.
            הגדירו מה איבדתם</p>
            <br>
            <p style="direction: rtl;color: #e71264;">
              2.
            הגדירו איפה איבדתם</p> 
            <br>
           
            <p   style="direction: rtl;color: #e71264;">
              3.    
             הגדירו מאפינים תואמים לחפץ 
            </p>
              <br>
            <br>              <a style="color: #e71264;direction: rtl"> !!!!</a>

          <a> האבידה נמצאה? </a>
              <a style="color: #e71264;direction: rtl">  נפלא</a>
            
            <br>
            <br>. צרו קשר עם המוצאים, ענו על שאלות מזהות ואם אכן זוהי אבידתכם המוצאים הישרים יחזירו לכם אותה
            <br>
            <br>?לא מצאתם את האבידה
            <br>
            <br>. שמרו את הפרטים במערכת ותקבלו עדכון במידה ומישהו ימצא אותה
            <br>
            <br>

        </div>

    </div>
    <br>

</body>
