<!-- <app-about></app-about> -->
<div class="class" style="margin-bottom: 160px">
    <p class="par"><strong> !! ברוכים הבאים </strong></p>
    <!-- <div class="container" class="top-center">
        <div class="image-circle">
            <img src="../../../assets/LG2.png" />
        </div>
    </div> -->

    <img class="top-left" class="LogoImg" class="image-circle" src="../../assets/Fpicture/LG2.png" alt="">
    <!-- <img class="top-right" class="LogoImg" src="../../../assets/LG2.png.jpg" alt=""> -->
    <br>
    <br>

    <button class="btnCo" mat-button [routerLink]="['/login']">
        <mat-icon class="example-tab-icon">arrow_back</mat-icon> לכניסה
    </button>
</div>





<!-- <div id="header">
    <div class="container">
        <div class="col-md-4 right">
        </div>
        <div class="col-md-4 logo">
            <a href="" class="LogoImg"><img src="../../assets/Fpicture/LG2.png.jpg" alt=""></a>
        </div>
        <div class="col-md-4 left">
        </div>
    </div>
</div> -->
